@import "styles/utils";

.featureSection {

  .container {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @include media(">desktop") {
      position: relative;
      width: 100%;
      flex-direction: row;
      gap: 30px;

      &::before {
        position: absolute;
        top: 124px;
        right: -165px;
        width: 1006px;
        height: 594px;
        background: url("/img/bg-pattern-leaf.svg") no-repeat;
        content: "";
        transform: rotateX(180deg) rotateY(180deg);
      }

      & > * {
        position: relative;
      }
    }
  }
}
