@import "styles/utils";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;

  &.primary, &.secondary {
    width: 152px;
    height: 56px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 8px;

    @include media(">desktop") {
      transition: color 0.3s, background 0.3s;

      &:hover {
        color: var(--white-color);
        background: var(--light-peach-color);
      }
    }
  }

  &.primary {
    color: var(--white-color);
    background: var(--primary-color);
  }

  &.secondary {
    color: var(--dark-grey-color);
    background: var(--white-color);
  }

  &.icon {
    width: 32px;
    height: 32px;
  }
}
