@import "styles/typography";
@import "styles/utils";

.card {

  @include media(">tablet") {
    width: 100%;
    max-width: 689px;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
  }

  @include media(">desktop") {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1110px;
    min-height: 480px;

    &:nth-child(even) {
      flex-direction: row;
    }
  }

  &.primary {
    .body {
      background: url("/img/about/mobile/bg-pattern-hero-about-mobile.svg") no-repeat, var(--primary-color);
      background-size: 878px 946px;
      background-position: right -140px;

      @include media(">tablet") {
        background: url("/img/about/desktop/bg-pattern-hero-about-desktop.svg") no-repeat, var(--primary-color);
        background-size: 640px 640px;
        background-position: -115px -438px;
        padding: 64px 58px;
      }

      @include media(">desktop") {
        background-position: right bottom;
      }
    }

    .title {
      color: var(--white-color);
    }

    .description {
      color: var(--white-color);
    }
  }

  &.secondary, &.location {

    .body {
      background: url("/img/bg-pattern-three-circles.svg") no-repeat, var(--lighten-peach-color);
      background-size: 584px 584px;

      @include media(">tablet") {
        min-height: 416px;
        background-position: 94px -212px;
        padding: 68px 58px;
      }

      @include media(">desktop") {
        background: url("/img/bg-pattern-two-circles.svg") no-repeat, var(--lighten-peach-color);
        background-position: left bottom;
      }
    }

    .title {
      color: var(--primary-color);

      @include media(">tablet") {
        @include H2;
      }
    }

    .description {
      color: var(--secondary-color);
    }
  }

  &.primary, &.secondary {

    .body {
      @include media(">desktop") {
        display: flex;
        align-items: center;
        padding: 0 82px 0 96px;
      }
    }
  }

  &.location {

    @include media(">tablet") {
      display: flex;
      flex-direction: column;
      gap: 31px;
    }

    @include media(">desktop") {
      flex-direction: row-reverse;
      min-height: initial;
      height: 326px;
      gap: 30px;
    }

    .thumbnail {

      @include media(">tablet") {
        height: 326px;
        border-radius: 15px;
      }

      @include media(">desktop") {
        width: 350px;
      }
    }

    .body {

      @include media(">tablet") {
        min-height: 326px;
        background: url("/img/bg-pattern-two-circles.svg") no-repeat, var(--lighten-peach-color);
        background-position: left bottom;
        border-radius: 15px;
        padding: 88px 75px;
      }

      @include media(">desktop") {
        width: 100%;
        height: 326px;
        padding: 88px 95px;
      }
    }

    .content {

      @include media(">tablet") {
        display: flex;
        gap: 30px;
      }
    }
  }

  &.reverse {

    @include media(">desktop") {
      flex-direction: row;

      &.secondary {
        .body {
          background-position: -146px bottom;
        }
      }
    }
  }

  .thumbnail {
    display: flex;
    width: 100%;
    object-fit: cover;

    @include media(">tablet") {
      height: 320px;
    }

    @include media(">desktop") {
      width: 476px;
      height: 100%;
    }
  }

  .body {
    padding: 80px 0;
  }

  .title + .content {
    margin-top: 24px;
  }

  .location + .contact {
    margin-top: 24px;

    @include media(">tablet") {
      margin-top: 0;
    }
  }

  .title, .description, .location, .contact {
    text-align: center;

    @include media(">desktop") {
      text-align: left;
    }
  }

  .title, .location, .contact {

    @include media(">tablet") {
      flex: 1;
      text-align: left;
    }
  }

  .description, .location {
    white-space: pre-line;
  }
}
