
.card {
  &.primary {
    .body {
      background: url("/img/about/mobile/bg-pattern-hero-about-mobile.svg") no-repeat, var(--primary-color);
      background-size: 878px 946px;
      background-position: right -140px;
    }

    .title {
      color: var(--white-color);
    }

    .description {
      color: var(--white-color);
    }
  }

  &.secondary, &.location {
    .body {
      background: url("/img/bg-pattern-three-circles.svg") no-repeat, var(--lighten-peach-color);
      background-size: 584px 584px;
    }

    .title {
      color: var(--primary-color);
    }

    .description {
      color: var(--secondary-color);
    }
  }

  .thumbnail {
    display: flex;
    width: 100%;
  }

  .body {
    padding: 80px 0;
  }

  .title + .description,
  .title + .location,
  .location + .contact {
    margin-top: 24px;
  }

  .title, .description, .location, .contact {
    text-align: center;
  }

  .description, .location {
    white-space: pre-line;
  }
}
