@import "styles/utils";

.locationSection {

  .container {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include media(">desktop") {
      flex-direction: row;
      justify-content: space-between;
      gap: 30px;

      & > * {
        width: 320px;
      }
    }
  }
}
