@import "styles/utils";

.introBox {
  display: flex;
  align-items: center;
  min-height: 320px;
  background: url("/img/bg-pattern-intro-web.svg") no-repeat top right, var(--primary-color);

  @include media(">tablet") {
    display: flex;
    width: 100%;
    max-width: 689px;
    min-height: 252px;
    background-position: 0 center;
    border-radius: 15px;
    margin: 0 auto;
  }

  &.small {

  }

  &.large {
    background: url("/img/contact/mobile/bg-pattern-hero-contact-mobile.svg") no-repeat var(--primary-color);
    background-position: -30px 0;
    padding: 72px 0;

    @include media(">tablet") {
      background: url("/img/contact/desktop/bg-pattern-hero-desktop.svg") no-repeat var(--primary-color);
        background-position: -122px -83px;
      padding: 71px 58px;

      .title, .description {
        text-align: left;
      }
    }
  }

  .title + .description {
    margin-top: 24px;
  }

  .title, .description {
    color: var(--white-color);
    text-align: center;

    @include media(">tablet") {
      white-space: pre-line;
    }
  }
}
