@import "styles/utils";

.footer {
  background: var(--black-color);
  padding: 64px 0;

  @include media(">tablet") {
    padding: 80px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logoAndSitemap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @include media(">tablet") {
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding-bottom: 40px;
    }
  }

  .sitemapContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    margin-bottom: 40px;
    padding-top: 32px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    @include media(">tablet") {
      width: initial;
      flex-direction: row;
      border-top: none;
      padding-top: 0;
      margin-bottom: 0;
    }

    .linkItem {
      color: var(--white-color);
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .infoAndSocial {

    @include media(">tablet") {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 31px;
    }
  }

  .address {
    font-size: 16px;
    line-height: 26px;
    color: var(--white-color);
    text-align: center;
    opacity: 0.5;
    margin-bottom: 40px;
    font-style: normal;

    @include media(">tablet") {
      text-align: left;
      margin-bottom: 0;
    }
  }

  .socialContainer {
    display: flex;
    gap: 16px;
    align-items: center;
    list-style: none;
  }
}
