@import "styles/utils";

.projectCateogrySection {

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include media(">desktop") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    & > *:first-child:nth-last-child(3) {
      grid-row: 1 / 3;
    }
  }
}
