@import "styles/utils";

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;

  &.stopTransition * {
    transition: none !important;
  }

  .headerWrapper {
    position: relative;
    display: flex;
    height: 96px;
    background: var(--white-color);
    z-index: 10;

    @include media(">tablet") {
      height: 155px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
  }

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menuButton {

    @include media(">tablet") {
      display: none;
    }
  }

  .menu {
    display: none;

    @include media(">tablet") {
      display: flex;
    }
  }

  .mobileMenu {

    @include media(">tablet") {
      display: none;
    }
  }
}
